In [1]:
import pandas as pd
import knn

In [2]:
df = pd.DataFrame({"y":[1,0,0,1,1,1,0,1,0,0], "c1":[1,2,3,4,5,6,7,8,9,10]})

In [3]:
df.head(10)

   y  c1
0  1   1
1  0   2
2  0   3
3  1   4
4  1   5
5  1   6
6  0   7
7  1   8
8  0   9
9  0  10

In [4]:
df.shape

(10, 2)

In [5]:
x_train = df["c1"].values.reshape((10,1))
y = df["y"].values.reshape((10,1))

In [6]:
pred_label = knn.predict(x_train, y, [11], 3)[0]

In [7]:
print(pred_label)

[array([0])]

In [8]:
nearest_indices = knn.predict(x_train, y, [11], 3)[1]

In [9]:
print(nearest_indices)

[9 8 7]